@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
body {
	background-color: #000000;
	color: #ffffff;
	font-size: 16px;
	font-family: "Teko", monospace;
	font-weight: 700;
}

.container {
	width: 100%;
	height: 100%;
}

#srtQueryData {
	position: relative;
	width: 100%;
	height: 100%;
}

.title {
	padding-right: 10px;
}

font {
	padding-right: 10px;
}

#currenthp {
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 10px;
	font-size: 24px;
	line-height: 30px;
	width: 420px;
}

#position {
	position: relative;
	top: 8px;
	font-size: 20px;
	display: flex;
	justify-content: space-evenly;
}

#Money {
	position: relative;
	top: 15px;
	font-size: 20px;
	display: flex;
	justify-content: start;
	padding-left: 10px;

}

#chapter {
	position: relative;
	top: 15px;
	font-size: 20px;
	display: flex;
	justify-content: start;
	padding-left: 10px;
}

#room {
	position: relative;
	top: 15px;
	display: flex;
	justify-content: start;
	padding-left: 10px;
}

#DAChris {
	position: relative;
	top: 15px;
	font-size: 20px;
	display: flex;
	justify-content: start;
	padding-left: 10px;
}

#DASheva {
	position: relative;
	top: 15px;
	font-size: 20px;
	display: flex;
	justify-content: start;
	padding-left: 10px;
}

#gs {
	position: relative;
	top: 15px;
	display: flex;
	justify-content: start;
	padding-left: 10px;
}

#cs {
	position: absolute;
	top: 165px;
	left: 10px;
	padding-left: 10px;
}

#cs2 {
	position: relative;
	top: 15px;
	display: flex;
	justify-content: start;
	padding-left: 10px;
}

#ps {
	position: relative;
	top: 15px;
	display: flex;
	justify-content: start;
	padding-left: 10px;
}

.hp {
    position: relative;
    top: 10px;
    left: -1px;
    background: rgba(34, 26, 26, 0.6);
    width: calc(100% - 8px);
    border: rgba(60, 60, 60, 1) solid 2px;
    height: 30px;
}

.hpbar {
	width: 100%;
	height: 30px;
}

.fine {
	background: rgba(0, 102, 0, 0.6);
}

.caution {
	background: rgba(218, 165, 32, 0.6);
}

.danger {
	background: rgba(153,0,0,0.6);
}

.dead {
	background: transparent;
}

#ehp {
	font-size: 24px;
	color: red;
	padding-left: 10px;
	font-weight: 700;
}

#percenthp {
	position: absolute;
	top: 0px;
	right: 0px;
	align-items: center;
	padding-right: 10px;
	font-size: 24px;
	line-height: 30px;
}

.enemyhp {
	position: relative;
	top: 15px;
	left: -1px;
	background: rgba(34, 26, 26, 0.6);
	width: calc(100% - 8px);
	border: rgba(60, 60, 60, 1) solid 2px;
	height: 30px;
	margin-bottom: 5px;
}

.enemyhpbar {
	width: 100%;
	height: 30px;
}

#currentenemyhp {
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 10px;
	font-size: 24px;
	line-height: 30px;
}

#percentenemyhp {
	position: absolute;
	top: 0px;
	right: 0px;
	align-items: center;
	padding-right: 10px;
	font-size: 24px;
	line-height: 30px;
}

.green {
	color: #00FF00;
}

.yellow {
	color: yellow;
}

.red {
	color: red;
}

.grey {
	color: gray;
}
